<form id="search-form" accept-charset="UTF-8" action="http://search.txstate.edu/search">
  <div class="text-search">
    <label for="q">Search topics</label>
    <input type="text" name="q" id="q" size="15" value="" />
    <input type="hidden" name="site" value="txstate_no_users" />
    <input type="hidden" name="client" value="txstate" />
    <input type="hidden" name="output" value="xml_no_dtd" />
    <input type="hidden" name="proxystylesheet" value="txstate" />
    <input id="webtools-search-form-sitesearch" type="hidden" name="sitesearch" value="signup.txstate.edu" />
    <input class="submit" type="submit" value="Go">
  </div>  
</form>
