<form id="search-form" accept-charset="UTF-8" action="https://www.txstate.edu/search/">
  <div class="text-search">
    <label for="q">Search topics</label>
    <input type="text" name="query" id="q" size="15" value="" />
    <input id="webtools-search-form-sitesearch" type="hidden" name="sitesearch" value="signup.txstate.edu" />
    <input class="submit" type="submit" value="Go">
  </div>  
</form>
